.area{
    position: absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
} 

.adventurePath{
    position: absolute;
    color: white;
    left: 50%;
    width: 50%;
    transform: translateX(-50%);
    top: 125px;
    border-bottom: 1px solid white;
    
}



.mainbackground{
    width: 700px;
    height: 500px;
    border: 1px gray solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-250px);
}

 

.MainCharacter{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    text-align: left;
}

.Enemy{
    position: absolute;
    height: 100%;
    width: 50%;
    right: 0;
    top:0;
    text-align: right;
}




@keyframes Attack {
    0%{left: 0;}
    60%{left: 100px;}
    100%{left: 0;}
}

@keyframes EAttack {
    0%{right: 0;}
    60%{right: 100px;}
    100%{right: 0;}
}

.E{
    position: absolute;
    right: 10px;
}

.stats{
    display: inline;
    position: absolute;
    top:300px;
}

.Charactername{
    position: absolute;
    top: 210px; ;
}

.hp{
    color:red;
    display: inline-block;
}





.Butt{
    position: absolute;
    background-color: white;
    z-index: 100;
    top: 390px;
}

.high{
    position: absolute;
    z-index: 100;
    border:1px solid white;
    padding:20px;
    top:50%;
    left:50%;
    transform:translate(-50%);
}

.ressourceGathered{
    position: absolute;
    z-index: 100;

    padding:20px;
    top:50%;
    left:50%;
    transform:translate(-50%,60px);
}

.homeButton{
    position: absolute;
    z-index: 100;
    top:50%;
    left:50%;
    transform:translate(-55%,110px);
}

.cssLoadingHelper{
    width: 100px;
    height: 200px;
    background:aqua;
    position: absolute;
    right: 0;
    visibility: hidden;
}

.Rat{
    padding: 20px;
    padding-top: 40px;
    width: 50%;

}

.blue{
    width: 100px;
    height: 200px;
    background-color: blue;
}

.startExplore{
    padding: 5px;
    margin: 5px;
    margin-left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 13px;
}

.startExplore:hover{
    text-shadow: 0px 0px 5px white;
    box-shadow: 0px 0px 5px white;
}