body{
    background-color: #222;
    height: 100%;
    color: #eee;
}

.Arise{
    color: #eee;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 47%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 50px;
    text-decoration: none;
    background-color: #222;
    border: none;
}


.FTD{
    position: absolute;
    text-align: center;
    left: 50%;
    top: 47%;
    transform: translateX(-50%) translateY(50px);
    font-size: 50px;
    color: #222;
}

.Arise:hover{
    color: red;
}

.Arise:hover + .FTD{
    color: red;
}

.Awakening {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 0px;
    width: 0px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    animation: wakeup 4s ease-in;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }

  @keyframes wakeup {
      0%{
            width: 0px;
            height: 0px;
            -webkit-filter: blur(5px);
            -moz-filter: blur(5px);
            -o-filter: blur(5px);
            -ms-filter: blur(5px);
            filter: blur(5px);
      }
      75%{
        height: 1000vh;
        width: 1000vw;
        -webkit-filter: blur(100px);
        -moz-filter: blur(100px);
        -o-filter: blur(100px);
        -ms-filter: blur(100px);
        filter: blur(100px);
        opacity: 1;
  }
      100%{
            -webkit-filter: blur(1000px);
            -moz-filter: blur(1000px);
            -o-filter: blur(1000px);
            -ms-filter: blur(1000px);
            filter: blur(1000px);
            opacity: 0;
      }
  }
