.more{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    text-align: center;
    font-size: 16px;
    line-height: 30px; 
    color: white;
    text-decoration: none;    
    width: 150px;
    background-color: transparent;
    border: 1px solid white;
    transition: all .6s ease-out;
    padding: 0;
    margin: 10px;
}

.text {
    position:relative;
    text-align: center;
    font-size: 16px;
    line-height: 30px; 
    color: white;
    text-decoration: none;    
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 1px solid white;
    transition: all .6s ease-out;
}

.text:hover {
    background-color: white;
    color: black;
}

.E{
    top:30px;
}

.TT{
    top:30px;
}

.TT{
    top: 70px;
}

.C{
    top:110px;
}

.O{
    top:150px;
}

.MC{
    top:190px;
}
