.ressourceContainer{
    position: absolute;
    top: 10px;
    left: 10px;
    width: fit-content;
}

.shopMargin{
    position: absolute;
    top:0px;
    bottom: 0px;
    right: 0px;
    width: 300px;
    padding: 10px;


}


.shopContainer{
    position: absolute;
    width: 300px;
    top:10px;
    bottom: 10px;
    z-index: 5;
}

#shop{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:0px;
    padding: 0;
    margin: 0;
    font-size: 80;
    line-height: 40px;
    overflow: hidden;
}


.campfire{
    top:60px
}

.sword{
    top:120px
    
}
  

.label {
    width: 150px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    line-height: 40px;
    font-size: 15px;
    padding: 0 1.5em;
    transition: all 0.3s ease;
    transform: translateZ(0);
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}
.label:before {
    content: ' ';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: white;
    z-index: -1;
    opacity: 0;
    transform: scale(0.8);
    transition: all 0.3s ease;
}

.cta-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.cta-container::after {
    content: "";
    display: block;

}

.button {
    position: relative;
    height: 100%;
    cursor: pointer;
}

.relative-box {
    position: relative;
    height: 100%;
}

.square-front {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
}

.line {
    background-color: rgba(255, 255, 255, .25);
    transition: all 0.3s ease;
}

.line:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: all 0.3s ease;
}

.line.line-top:before, .line.line-bottom:before {
    left: 50%;
    right: 50%;
}

.line.line-left:before, .line.line-right:before {
    top: 50%;
    bottom: 50%;
}

.line-top {
    position: absolute;
    height: 2px;
    top: 0;
    right: 0;
    left: 0;
}

.line-right {
    position: absolute;
    width: 2px;
    top: 0;
    right: 0;
    bottom: 0;
}

.line-bottom {
    position: absolute;
    height: 2px;
    right: 0;
    bottom: 0;
    left: 0;
}

.line-left {
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    left: 0;
}

.button:hover .label {
    color: rgba(22, 22, 22, 1);
    background-color: white;
}

.button:hover .label:before {
    opacity: 1;
    transform: scale(1);
}

.button:hover .square-front .line-top:before, .button:hover .square-front .line-bottom:before, .button:hover .square-front .line-left:before, .button:hover .square-front .line-right:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
  


.resNeeded{
    position: absolute;
    display: none;
    background-color: grey;
    z-index: 20;
    left: 150px;
    width: max-content;
    padding: 10px;
    top:0px;
}

.button:hover + .resNeeded{
    display: block;
}